@model Client
@{
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Need to know features</h6>
            </div>
            <div class="card-body">
                <p>@Model.NeedToKnowFeatures</p>
            </div>
        </div>
    </div>
    Html.RenderPartial($"~/Views/Partials/NestedContent/Features.cshtml", Model.Features);
}
