@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NoAccess>
@using ContentModels = ClientDocumentation.Web.Models.ModelsBuilder;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1>Det må du ikke, Knud</h1>